<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
		<header class="header">
			{{#if @blog.logo}}
			<a href="/">
				<img id="blog" class="logo" src="{{@blog.logo}}">
			</a>
			{{else}}
			<h1 class="title"><a href="/">{{@blog.title}}</a></h1>
			{{/if}}

			<div class="separator"></div>

			<p class="description">{{{@blog.description}}}</p>
			<div class="social-icons">
				<a href="https://github.com/jonahglover" class="icon icon-github"></a>
				<a href="https://www.linkedin.com/pub/jonah-glover/5b/7b8/684" class="icon icon-linkedin"></a>
				<a href="mailto:jonah@jonahglover.com" class="icon-mail"></a>
			</div>
		</header>
	</div>
